@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: poppins, sans-serif;
    text-align: center;
    
}
.profile{
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}
body {
    margin: 30px;
    padding: 30px
}
p {
    font-size: medium;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    font-size: large;
    outline:2px;
    outline-color: white;
    transition: 0.9s;
}
.socials {
    margin-top: 20px;
    margin-bottom: 20px;
}
.icon {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.button {
    display:block;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.616);
}
.button:hover {
    background-color: grey;
    color: white;
    transition: 0.9s;
    cursor: pointer;
}